body {
    font-family: "BBH Bartle", sans-serif;
    background-color: #e905d6;
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ficha-container {
    background-color: #3f0808;
    background-position: center;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 80px;
    text-align: center;
    opacity: 0.8;
}

.ficha-header {
    color: #e7e6e5;
}

.ficha-bio {
    color: #e7e6e5;
}

.ficha-atributos {
color: #e7e6e5;
}


.personagem-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 3px solid #eeebeb;
    object-fit: cover;
    margin-bottom: 15px;
}

.personagem-música{
    width: 350px;
    height:80px;
    border-radius:10px;
}