     html, body {
     height: 100%;
     margin: 0;
     padding: 0;
   }
    
    body {
        background-image: url(background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header {
        width: 100%;
        padding: 0;
        margin: 0;
        order: -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-img {
        width: 600px;
        height: 200px;
        display: block;
    }
    

    .foto-item-1 {
        width: 650px;
        height: 190px;
        display: block;
        margin: 0;
        position: absolute;
        top: 150px;
        left: 60px;
    }

    .foto-item-2 {
        width: 250px;
        height: 250px;
        margin: 0;
        position: absolute;
        top: 320px;
        left: 29px;

    }

    .foto-item-3 {
        width: 450px;
        height: 180px;
        margin: 0;
        position: absolute;
        top: 358px;
        left: 260px;
    }

    .foto-item-4 {
        width: 210px;
        height: 390px;
        margin: 0;
        position: absolute;
        top: 150px;
        left: 730px;
    }

    .foto-item-5 {
        width: 290px;
        height: 300px;
        margin: 0;
        position: absolute;
        top: 130px;
        left: 970px;
    }

    .foto-item-6 {
        width: 300px;
        height: 350px;
        margin: 0;
        position: absolute;
        top: 350px;
        left: 975px;
        cursor: pointer;
    }

    .mob {
        text-align: center;
    }


    .mob h1 {
        margin-bottom: -10px;
        width: 310px;
        padding: 5px;
        border-radius: 5px;
        font-family: "Henny Penny", system-ui;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        position: absolute;
        top: 650px;
        left: 500px;        
        font-size: 70px;
        color: white;

    }

    .mob h2 {
        width: 500px;
        padding: 5px;
        border-radius: 5px;
        font-family: "Bonbon", cursive;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        position: absolute;
        top: 730px;
        left: 570px;        
        font-size: 50px;
        color: white;
    }

    .mob-img {
        border-radius: 8px;
        width: 450px;
        height: 380px;
        margin: 0;
        position: absolute;
        top: 760px;
        left: 70px;  
    }

    .mob p {
        font-family: "Orbitron", sans-serif;
        font-size: 18px;
        position: relative;
        color: whitesmoke;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        top: 900px;
        left: 700px; 
        margin: 0;
        position: absolute;
        background-color:rgba(54, 95, 45, 0.5) ;
        padding: 38px;
        width: 490px; 
        border-radius: 8px; 
    }

    .mob-flecha {
        position: absolute;
        z-index: 10;
        width: 250px;
        height: 200px;
        margin: 0;
        position: absolute;
        top: 900px;
        left: 560px;  
    }

    .favoritos {
         text-align: center;
         color: azure;
    }


    .favoritos h1 {
        font-family: "Henny Penny", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 70px;
        margin:20px 0;
        position: absolute;
        top: 1250px;
        left: 300px;
        color: azure;
    }

    .animais{
        display: flex;
        justify-content: center; /* centraliza horizontalmente */
        margin-top: 50px;
    }
    
    .cartao-gato {
    position: absolute;
    background-color: rgba(22, 26, 21, 0.705);
    width: 250px;
    height: 340px;
    top: 1600px;
    left: 100px;
    }
    
    .animal-1 {
        width: 370px;
        height: 300px;
        margin: 0;
        position: absolute;
        top: -100px;
        left: -30px;  
}

.info-gato {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 230px;
}

.info-gato p {
    color: azure;
}

.botao-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgba(30, 32, 30, 0.185);
    color: azure;
    font-size: 18px;
    font-family: "Henny Penny", system-ui;
    text-decoration: none;  
    border:1px solid azure;
    position: relative;
    top: -1px;
    left: 50px;
}

.cartao-axolote {
    position: absolute;
    background-color: rgba(22, 26, 21, 0.705);
    width: 245px;
    padding-right: 5px;
    padding-left: 30px;
    height: 340px;
    top: -5px;
    left: 400px;
    }

    .animal-2{
        position: relative;
        top: -34px;
    }

    .info-axolote p {
    color: azure;
    font-size: 15px;
    position: relative;
    top: -32px;
    left: -10px;
}

.botao-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgba(30, 32, 30, 0.185);
    color: azure;
    font-size: 18px;
    font-family: "Henny Penny", system-ui;
    text-decoration: none;  
    border:1px solid azure;
    position: relative;
    top: -24px;
    left: 50px;
}

.cartao-raposa {
    position: absolute;
    background-color: rgba(22, 26, 21, 0.705);
    width: 245px;
    padding-right: 5px;
    padding-left: 30px;
    height: 350px;
    top: -17px;
    left: 800px;
    }

     .animal-3{
        width: 300px;
        position: relative;
        top: -60px;
        left: -20px;
    }

    .botao-3 {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgba(30, 32, 30, 0.185);
    color: azure;
    font-size: 18px;
    font-family: "Henny Penny", system-ui;
    text-decoration: none;  
    border:1px solid azure;
    position: relative;
    top: -40px;
    left: 50px;
}

.info-raposa p {
    color: azure;
    font-size: 15px;
    position: relative;
    top: -40px;
    left: 0px;
}
